<div style="height: 100vh; margin-bottom: 10px;">
    <nav class="navbar navbar-light bg-light" style="background: white!important;">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="assets/logo.png" alt="" width="150">
          </a>
        </div>
      </nav>
      <div class="recover-container">
          <div class="recover-box">
              <img src="assets/logo.png" alt="DDC Logo" class="logo" width="200"
                  height="90">
              <div style="text-align: start;">
                <h6><b>Recuperar el acceso</b></h6>
                <p style="font-size: small; color: grey;">
                    Te enviaremos un link a tu dirección de email<br>para corroborar que eres tú el que intentas ingresar.
                </p>
              </div>

              <form [formGroup]="recoverForm" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" type="email"/>
                </mat-form-field>
                  <button
                      class="full-width">Recuperar cuenta</button>
              </form>
      
              <div class="row">
                  <div class="links">
                      <p>¿Ya tienes cuenta?</p><a href="/login">Iniciar sesión</a>
                  </div>
                  <div class="links">
                      <p>¿Aun no tienes tu acceso?</p><a href="#">Solicítalo aqui</a>
                  </div>
              </div>
          </div>
      </div>
      <app-footer></app-footer>
</div>