<nav class="navbar navbar-expand-lg navbar-light bg-light static-top" style="background: white!important;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">
            <img src="assets/logo.png" alt width="150">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="gap: 10px;">
                <li class="nav-item">
                    <a mat-flat-button [style]="actualRoute === '/home' ? 'background: rgb(0 60 170);' : 'background: white; color:black'" href="/home">
                        <mat-icon color="white">filter_center_focus</mat-icon>
                        Monitor
                    </a>
                </li>
                <li class="nav-item dropdown" *ngIf="isAdmin">
                    <a mat-flat-button id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" 
                        [routerLink]="['/administrator']" style="width: 200px;" [style]="actualRoute === '/administrator' ? 'background: rgb(0 60 170);' : 'background: white; color:black'">
                        <mat-icon color="white">supervisor_account</mat-icon>
                        Administrar Usuarios
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" mat-flat-button style="border-radius: 0px;"
                                href="/administrator" [style]="actualRoute === '/administrator' ? 'background: rgb(0 60 170); color: white;' : 'background: white; color:black'">
                                Usuario y roles
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" mat-flat-button style="border-radius: 0px;"
                                (click)="logOut()" [style]="actualRoute === '/profile' ? 'background: rgb(0 60 170); color: white;' : 'background: white; color:black'">
                                Mi perfil
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown" *ngIf="!isAdmin">
                    <a mat-flat-button id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" 
                        [routerLink]="['/profile']" style="width: 200px;" [style]="actualRoute === '/profile' ? 'background: rgb(0 60 170);' : 'background: white; color:black'">
                        <mat-icon color="white">supervisor_account</mat-icon>
                        Configuración
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" mat-flat-button style="border-radius: 0px;"
                                href="/profile" [style]="actualRoute === '/profile' ? 'background: rgb(0 60 170); color: white;' : 'background: white; color:black'">
                                Mi perfil
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a mat-flat-button id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="justify-content: flex-start; background: white!important; color: black;">
                        <img class="img-fluid rounded-circle shadow-2-strong" style="margin-right: 5px;" src="../../../assets/avatarLogo.jpg" width="35" height="20">
                        {{user.rol}}
                        <mat-icon color="white" iconPositionEnd>keyboard_arrow_down</mat-icon>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" mat-flat-button style="justify-content: flex-start; background: white!important; color: black; font-weight: lighter;"
                                (click)="logOut()">
                                <mat-icon style="color: rgb(226 101 100);">exit_to_app</mat-icon>
                                Cerrar Sesión
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
